[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]

way-edges-derive = { version = "0.1.0", path = "crates/way-edges-derive" }
config = { version = "0.1.0", path = "crates/config" }
util = { version = "0.1.0", path = "crates/util" }
ipc = { version = "0.1.0", path = "crates/ipc" }
backend = { version = "0.1.0", path = "crates/backend" }


gtk4-layer-shell = "0.4"
gtk = { package = "gtk4", version = "0.9", features = ["v4_12", "v4_14"] }
gio = "0.20"
cairo-rs = { version = "0.20", features = ["freetype", "freetype-rs", "png"] }
log = "0.4"
env_logger = "0.11"
lazy_static = "1.5.0"

serde_jsonrc = "0.1"
serde = { version = "1.0", features = ["derive"] }

tokio = { version = "1.39", features = ["net", "macros", "rt", "time", "sync"] }

async-channel = "2.3"

[profile.release]
opt-level = 3
lto = true
codegen-units = 4
strip = true      # Strip symbols from binary*
