
btn {
  ignore-exclusive 
  pin-with-key
  edge "bottom"
  monitor "*"
  layer "overlay"
  thickness 20
  length "40%"

  margins {
    right "25%"
  }
  extra-trigger-size 3

  event-map {
    mouse-left "sh -c pkill nwg-drawer || nwg-drawer -ovl --closebtn left"
    mouse-right "niri msg action maximize-column"
    mouse-middle "niri msg action close-window"
    mouse-side "niri msg action toggle-overview"
    mouse-extra "niri msg action toggle-column-tabbed-display"
  }
}

workspace {
  ignore-exclusive
  edge "bottom"
  monitor "eDP-1" "eDP-2"
  layer "overlay"

  thickness 20
  length "40%"
  hover-color "#4E884Faa"
  active-increase 0.2
  focus-color "#4E884F"
  default-color "#000"
  focused-only

  preset "niri" {
    preserve-empty
  }

  gap 5
  workspace-transition-duration 300
  workspace-animation-curve "ease-quad"
  pop-duration 200

  active-color "#fff"
  invert-direction
  border-width 2
  border-radius 5
}
