

    // {
    //   "ignore-exclusive": true,
    //   "edge": "left",
    //   "position": "top",
    //   "monitor": ["eDP-1", "eDP-2"],
    //   "layer": "overlay",
    //   "margins": {
    //     "top": "20%"
    //   },
    //   "thickness": 40,
    //   "length": "25%",
    //   "fg-color": "#85C9E8cc",
    //   "bg-color": "#0000",
    //   "border-color": "#85C9E8ff",
    //   "fg-text-color": "#fffa",
    //   "bg-text-color": "#fffa",
    //   "radius": 10,
    //   "obtuse-angle": 90,
    //   "type": "slider",
    //   "preset": {
    //     "type": "backlight"
    //   }
    // },
//
slider {
  ignore-exclusive 
  edge "left"
  position "top"
  monitor "eDP-1" "eDP-2"
  layer "overlay"
  margins {
    top "20%"
  }
  thickness 40
  length "25%"
  fg-color "#85C9E8cc"
  bg-color "#0000"
  border-color "#85C9E8ff"
  fg-text-color "#fffa"
  bg-text-color "#fffa"
  radius 10
  obtuse-angle 90

  preset "backlight"
}

    // {
    //   "ignore-exclusive": true,
    //   "edge": "right",
    //   "position": "top",
    //   "monitor": "HDMI-A-1",
    //   "layer": "overlay",
    //   "margins": {
    //     "top": "20%"
    //   },
    //   "thickness": 40,
    //   "length": "25%",
    //   "fg-color": "#85C9E8cc",
    //   "bg-color": "#0000",
    //   "border-color": "#85C9E8ff",
    //   "fg-text-color": "#fffa",
    //   "bg-text-color": "#fffa",
    //   "radius": 10,
    //   "obtuse-angle": 90,
    //   "type": "slider",
    //   "preset": {
    //     "type": "backlight"
    //   }
    // },

slider {
  ignore-exclusive 
  edge "right"
  position "top"
  monitor "HDMI-A-1"
  layer "overlay"
  margins {
    top "20%"
  }
  thickness 40
  length "25%"
  fg-color "#85C9E8cc"
  bg-color "#0000"
  border-color "#85C9E8ff"
  fg-text-color "#fffa"
  bg-text-color "#fffa"
  radius 10
  obtuse-angle 90
  preset "backlight"
}

    // {
    //   "ignore-exclusive": true,
    //   "pin-with-key": false,
    //   "edge": "top",
    //   "position": "left",
    //   "monitor": "*",
    //   "layer": "overlay",
    //   "margins": {
    //     "left": "25%"
    //   },
    //   "thickness": 20,
    //   "length": "25%",
    //   "type": "btn",
    //   "color": "#333",
    //   "event-map": {
    //     "mouse-left": "niri msg action focus-column-left",
    //     "mouse-right": "niri msg action focus-workspace-up"
    //   }
    // },
btn {
  ignore-exclusive 
  pin-with-key
  edge "top"
  position "left"
  monitor "*"
  layer "overlay"
  margins {
    left "25%"
  }
  thickness 20
  length "25%"
  color "#333"

  event-map {
    mouse-left "niri msg action focus-column-left"
    mouse-right "niri msg action focus-workspace-up"
  }
}

    // {
    //   "ignore-exclusive": true,
    //   "pin-with-key": false,
    //   "edge": "top",
    //   "position": "right",
    //   "monitor": "*",
    //   "layer": "overlay",
    //   "margins": {
    //     "right": "25%"
    //   },
    //   "thickness": 20,
    //   "length": "25%",
    //   "type": "btn",
    //   "color": "#333",
    //   "event-map": {
    //     "mouse-left": "niri msg action focus-column-right",
    //     "mouse-right": "niri msg action focus-workspace-down"
    //   }
    // },

btn {
  ignore-exclusive 
  pin-with-key
  edge "top"
  position "right"
  monitor "*"
  layer "overlay"
  margins {
    right "25%"
  }
  thickness 20
  length "25%"
  color "#333"

  event-map {
    mouse-left "niri msg action focus-column-right"
    mouse-right "niri msg action focus-workspace-down"
  }
}

    // {
    //   "ignore-exclusive": true,
    //   "pin-with-key": false,
    //   "edge": "bottom",
    //   "monitor": "*",
    //   "layer": "overlay",
    //   "thickness": 20,
    //   "length": "40%",
    //   "type": "btn",
    //   "event-map": {
    //     "mouse-left": "sh -c pkill nwg-drawer || nwg-drawer -ovl --closebtn left",
    //     "mouse-right": "niri msg action maximize-column",
    //     "mouse-middle": "niri msg action close-window",
    //     "mouse-side": "niri msg action toggle-overview",
    //     "mouse-extra": "niri msg action toggle-column-tabbed-display"
    //   }
    // },

btn {
  ignore-exclusive 
  pin-with-key
  edge "bottom"
  monitor "*"
  layer "overlay"
  thickness 20
  length "40%"

  event-map {
    mouse-left "sh -c pkill nwg-drawer || nwg-drawer -ovl --closebtn left"
    mouse-right "niri msg action maximize-column"
    mouse-middle "niri msg action close-window"
    mouse-side "niri msg action toggle-overview"
    mouse-extra "niri msg action toggle-column-tabbed-display"
  }
}

    // {
    //   "type": "wrap-box",
    //   "ignore-exclusive": true,
    //   "pin-on-startup": true,
    //   "position": "left",
    //   "edge": "bottom",
    //   "monitor": ["HDMI-A-1"],
    //   "items": [
    //     {
    //       "type": "text",
    //       "preset": {
    //         "type": "time"
    //       },
    //       "event-map": {
    //         "mouse-left": "notify-send aaa", 
    //       }
    //     },
    //   ],
    // },
wrap-box {
  ignore-exclusive 
  pin-on-startup 
  position "left"
  edge "bottom"
  monitor "HDMI-A-1"

  item "text" {
    preset "time"

    event-map {
      mouse-left "notify-send aaa"
    }
  }
}


    // {
    //   "ignore-exclusive": true,
    //   "edge": "left",
    //   "position": "bottom",
    //   "layer": "overlay",
    //   "monitor": ["eDP-1", "eDP-2"],
    //   "type": "workspace",
    //   "thickness": 40,
    //   "length": "50%",
    //   "hover-color": "#4E884Faa",
    //   "active-increase": 0.2,
    //   /// "active-color": "#fff",
    //   "focus-color": "#4E884F",
    //   "default-color": "#000",
    //   "focused-only": true,
    //   "preset": { "type": "niri", "filter-empty": false }
    // },

workspace {
  ignore-exclusive 
  edge "left"
  position "bottom"
  layer "overlay"
  monitor "eDP-1" "eDP-2"
  thickness 40
  length "50%"
  hover-color "#4E884Faa"
  active-increase 0.2
  focus-color "#4E884F"
  default-color "#000"
  focused-only 

  preset "niri" {
    filter-empty false
  }
}
    // {
    //   "ignore-exclusive": true,
    //   "edge": "right",
    //   "position": "bottom",
    //   "layer": "overlay",
    //   "monitor": "HDMI-A-1",
    //   "type": "workspace",
    //   "thickness": 40,
    //   "length": "50%",
    //   "hover-color": "#4E884Faa",
    //   "active-increase": 0.2,
    //   /// "active-color": "#fff",
    //   "focus-color": "#4E884F",
    //   "default-color": "#000",
    //   "focused-only": true,
    //   "preset": "niri",
    // },

workspace {
  ignore-exclusive 
  edge "right"
  position "bottom"
  layer "overlay"
  monitor "HDMI-A-1"
  thickness 40
  length "50%"
  hover-color "#4E884Faa"
  active-increase 0.2
  focus-color "#4E884F"
  default-color "#000"
  focused-only 

  preset "niri" 
}


    // {
    //   "namespace": "stats",
    //   "edge": "left",
    //   "position": "top",
    //   "margins": {
    //     "top": 40
    //   },
    //   "monitor": "*",
    //   "layer": "overlay",
    //   "type": "wrap-box",
    //   "outlook": {
    //     "type": "window",
    //     "color": "#5d3f3c"
    //   },
    //   "items": [
    //     {
    //       // "radius": 18,
    //       // "ring-width": 8,
    //       "font-size": 20,
    //       "font-family": "0xProto Nerd Font",
    //       "fg-color": "#82B2E3",
    //       "bg-color": "#00000044",
    //       "type": "ring",
    //       "prefix": " ",
    //       "suffix": " {preset}",
    //       "suffix-hide": true,
    //       "preset": {
    //         "update-interval": 500,
    //         "type": "disk"
    //       }
    //     },
    //     {
    //       // "radius": 18,
    //       // "ring-width": 8,
    //       "font-size": 20,
    //       "font-family": "0xProto Nerd Font",
    //       "fg-color": "#FFB77B",
    //       "bg-color": "#00000044",
    //       "type": "ring",
    //       "prefix": " ",
    //       "suffix": " {preset}",
    //       "suffix-hide": true,
    //       "preset": {
    //         "update-interval": 500,
    //         "type": "battery"
    //       }
    //     },
    //     {
    //       // "radius": 18,
    //       // "ring-width": 8,
    //       "font-size": 20,
    //       "font-family": "0xProto Nerd Font",
    //       "fg-color": "#FB8893",
    //       "bg-color": "#00000044",
    //       "type": "ring",
    //       "prefix": " ",
    //       "suffix": " {preset}",
    //       "suffix-hide": true,
    //       "preset": {
    //         "update-interval": 500,
    //         "type": "cpu"
    //       }
    //     },
    //     {
    //       // "radius": 18,
    //       // "ring-width": 8,
    //       "font-size": 20,
    //       "font-family": "0xProto Nerd Font",
    //       "fg-color": "#BEAFD9",
    //       "bg-color": "#00000044",
    //       "type": "ring",
    //       "prefix": "󰾶 ",
    //       "suffix": " {preset}",
    //       "suffix-hide": true,
    //       "preset": {
    //         "update-interval": 500,
    //         "type": "swap"
    //       }
    //     },
    //     {
    //       // "radius": 18,
    //       // "ring-width": 8,
    //       "font-size": 20,
    //       "font-family": "0xProto Nerd Font",
    //       "bg-color": "#00000044",
    //       "type": "ring",
    //       "prefix": " ",
    //       "suffix": " {preset}",
    //       "suffix-hide": true,
    //       "preset":"ram",
    //     }
    //   ]
    // },


wrap-box {
  namespace "stats"
  edge "left"
  position "top"
  margins {
    top 40
  }
  monitor "*"
  layer "overlay"
  outlook "window" {
    color "#5d3f3c"
  }

  item "ring" {
    font-size 20
    font-family "0xProto Nerd Font"
    fg-color "#82B2E3"
    bg-color "#00000044"
    prefix " "
    suffix " {preset}"
    suffix-hide 

    preset "disk" {
      update-interval 500
    }
  }

  item "ring" {
    font-size 20
    font-family "0xProto Nerd Font"
    fg-color "#FFB77B"
    bg-color "#00000044"
    prefix " "
    suffix " {preset}"
    suffix-hide 

    preset "battery" {
      update-interval 500
    }
  }

  item "ring" {
    font-size 20
    font-family "0xProto Nerd Font"
    fg-color "#FB8893"
    bg-color "#00000044"
    prefix " "
    suffix " {preset}"
    suffix-hide 

    preset "cpu" {
      update-interval 500
    }
  }

  item "ring" {
    font-size 20
    font-family "0xProto Nerd Font"
    fg-color "#BEAFD9"
    bg-color "#00000044"
    prefix "󰾶 "
    suffix " {preset}"
    suffix-hide 

    preset "swap" {
      update-interval 500
    }
  }

  item "ring" {
    font-size 20
    font-family "0xProto Nerd Font"
    bg-color "#00000044"
    prefix " "
    suffix " {preset}"
    suffix-hide 

    preset "ram"
  }
}

    // {
    //   "ignore-exclusive": true,
    //   "namespace": "time",
    //   "edge": "top",
    //   "position": "right",
    //   "monitor": "*",
    //   "layer": "overlay",
    //   "type": "wrap-box",
    //   "outlook": {
    //     "type": "window",
    //     "color": "#222",
    //     "margins": {
    //       "top": 10,
    //       "left": 30,
    //       "right": 30,
    //       "bottom": 10
    //     }
    //   },
    //   "items": [
    //     {
    //       "type": "text",
    //       "fg-color": "#FFFFFF",
    //       "font-size": 30,
    //       "font-family": "serif",
    //       "preset": {
    //         "type": "time",
    //         "update-interval": 500,
    //         "format": "%v %T %A"
    //       }
    //     }
    //   ]
    // },

wrap-box {
  ignore-exclusive 
  namespace "time"
  edge "top"
  position "right"
  monitor "*"
  layer "overlay"
  outlook "window" {
    color "#222"
    margins {
      top 10
      left 30
      right 30
      bottom 10
    }
  }

  item "text" {
    fg-color "#FFFFFF"
    font-size 30
    font-family "serif"

    preset "time" {
      update-interval 500
      format "%v %T %A"
    }
  }
}

    // {
    //   "ignore-exclusive": true,
    //   "edge": "right",
    //   "position": "bottom",
    //   "margins": {
    //     "bottom": "2%"
    //   },
    //   "monitor": ["eDP-1", "eDP-2"],
    //   "layer": "overlay",
    //   "pin-on-startup": true,
    //   "type": "slider",
    //   "thickness": 10,
    //   "border-width": 1,
    //   "length": "12.5%",
    //   "fg-color": "#FF8700cc",
    //   "bg-color": "#0000",
    //   "border-color": "#FF8700",
    //   "fg-text-color": "#0000", // hide text
    //   "bg-text-color": "#0000",
    //   "redraw-only-on-internal-update": true,
    //   "preset": {
    //     "type": "custom",
    //     "update-interval": 1000,
    //     "update-command": "/home/ogios/.config/way-edges/battery.sh"
    //   }
    // },


slider {
  ignore-exclusive 
  edge "right"
  position "bottom"
  margins {
    bottom "2%"
  }
  monitor "eDP-1" "eDP-2"
  layer "overlay"
  pin-on-startup 
  thickness 10
  border-width 1
  length "12.5%"
  fg-color "#FF8700cc"
  bg-color "#0000"
  border-color "#FF8700"
  fg-text-color "#0000" // hide text
  bg-text-color "#0000"
  redraw-only-on-internal-update 

  preset "custom" {
    update-interval 1000
    update-command "/home/ogios/.config/way-edges/battery.sh"
  }
}

    // {
    //   "ignore-exclusive": true,
    //   "edge": "right",
    //   "position": "top",
    //   "margins": {
    //     "top": "5%"
    //   },
    //   "monitor": "HDMI-A-1",
    //   "layer": "overlay",
    //   "pin-on-startup": true,
    //   "type": "slider",
    //   "thickness": 10,
    //   "border-width": 1,
    //   "length": "12.5%",
    //   "fg-color": "#FF8700cc",
    //   "bg-color": "#0000",
    //   "border-color": "#FF8700",
    //   "fg-text-color": "#0000", // hide text
    //   "bg-text-color": "#0000",
    //   "redraw-only-on-internal-update": true,
    //   "preset": {
    //     "type": "custom",
    //     "update-interval": 1000,
    //     "update-command": "/home/ogios/.config/way-edges/battery.sh"
    //   }
    // },

slider {
  ignore-exclusive 
  edge "right"
  position "top"
  margins {
    top "5%"
  }
  monitor "HDMI-A-1"
  layer "overlay"
  pin-on-startup 
  thickness 10
  border-width 1
  length "12.5%"
  fg-color "#FF8700cc"
  bg-color "#0000"
  border-color "#FF8700"
  fg-text-color "#0000" // hide text
  bg-text-color "#0000"
  redraw-only-on-internal-update 

  preset "custom" {
    update-interval 1000
    update-command "/home/ogios/.config/way-edges/battery.sh"
  }
}

    // {
    //   "ignore-exclusive": true,
    //   "edge": "top",
    //   "monitor": "*",
    //   "layer": "overlay",
    //   "position": "left",
    //   "preview-size": 9,
    //   "type": "slider",
    //   "thickness": 40,
    //   "border-width": 3,
    //   "length": "12.5%",
    //   "radius": 10,
    //   "obtuse-angle": 90,
    //   "fg-color": "#18A558cc",
    //   "bg-color": "#0000",
    //   "border-color": "#18A558",
    //   "fg-text-color": "#fffa",
    //   "bg-text-color": "#fffa",
    //   "redraw-only-on-internal-update": true,
    //   "preset": {
    //     "type": "speaker"
    //   }
    // },


slider {
  ignore-exclusive 
  edge "top"
  monitor "*"
  layer "overlay"
  position "left"
  preview-size 9
  thickness 40
  border-width 3
  length "12.5%"
  radius 10
  obtuse-angle 90
  fg-color "#18A558cc"
  bg-color "#0000"
  border-color "#18A558"
  fg-text-color "#fffa"
  bg-text-color "#fffa"
  redraw-only-on-internal-update 

  preset "speaker"
}

    // {
    //   "ignore-exclusive": true,
    //   "edge": "top",
    //   "monitor": "*",
    //   "position": "left",
    //   "layer": "overlay",
    //   "margins": {
    //     "left": "12.5%"
    //   },
    //   "preview-size": 9,
    //   "type": "slider",
    //   "thickness": 40,
    //   "border-width": 3,
    //   "length": "12.5%",
    //   "radius": 10,
    //   "obtuse-angle": 90,
    //   "fg-color": "#BD93F9cc",
    //   "bg-color": "#0000",
    //   "border-color": "#BD93F9",
    //   "fg-text-color": "#fffa",
    //   "bg-text-color": "#fffa",
    //   "redraw-only-on-internal-update": true,
    //   "preset": {
    //     "type": "microphone"
    //   }
    // },

slider {
  ignore-exclusive 
  edge "top"
  monitor "*"
  position "left"
  layer "overlay"
  margins {
    left "12.5%"
  }
  preview-size 9
  thickness 40
  border-width 3
  length "12.5%"
  radius 10
  obtuse-angle 90
  fg-color "#BD93F9cc"
  bg-color "#0000"
  border-color "#BD93F9"
  fg-text-color "#fffa"
  bg-text-color "#fffa"
  redraw-only-on-internal-update 

  preset "microphone"
}

    // {
    //   "ignore-exclusive": true,
    //   "namespace": "tray",
    //   "edge": "bottom",
    //   "position": "left",
    //   "monitor": "HDMI-A-1",
    //   "layer": "overlay",
    //   "type": "wrap-box",
    //   "align": "bottom-left",
    //   "outlook": {
    //     "type": "window",
    //     "color": "#0C986C"
    //   },
    //   "items": [
    //     {
    //       "font-family": "sans-serif",
    //       "type": "tray",
    //       "icon-size": 40,
    //       "header-menu-stack": "menu-top",
    //       "header-menu-align": "left",
    //       "menu-draw-config": {
    //         "font-pixel-height": 18,
    //         "text-color": "#eee",
    //         "border-color": "#111"
    //       },
    //       "header-draw-config": {
    //         "text-color": "#eee"
    //       },
    //       "grid-align": "bottom-left"
    //     }
    //   ]
    // },

wrap-box {
  ignore-exclusive 
  namespace "tray"
  edge "bottom"
  position "left"
  monitor "HDMI-A-1"
  layer "overlay"
  align "bottom-left"
  outlook "window" {
    color "#0C986C"
  }

  item "tray" {
    font-family "sans-serif"
    icon-size 40
    header-menu-stack "menu-top"
    header-menu-align "left"
    menu-draw-config {
      font-pixel-height 18
      text-color "#eee"
      border-color "#111"
    }
    header-draw-config {
      text-color "#eee"
    }
    grid-align "bottom-left"
  }
}

    // {
    //   "ignore-exclusive": true,
    //   "namespace": "tray",
    //   "edge": "bottom",
    //   "position": "right",
    //   "monitor": ["eDP-1", "eDP-2"],
    //   "layer": "overlay",
    //   "type": "wrap-box",
    //   "align": "bottom-left",
    //   "outlook": {
    //     "type": "window",
    //     "color": "#0C986C"
    //   },
    //   "items": [
    //     {
    //       "font-family": "sans-serif",
    //       "type": "tray",
    //       "icon-size": 40,
    //       "header-menu-stack": "menu-top",
    //       "header-menu-align": "left",
    //       "menu-draw-config": {
    //         "font-pixel-height": 18,
    //         "text-color": "#eee",
    //         "border-color": "#111"
    //       },
    //       "header-draw-config": {
    //         "text-color": "#eee"
    //       },
    //       "grid-align": "bottom-left"
    //     }
    //   ]
    // }

wrap-box {
  ignore-exclusive 
  namespace "tray"
  edge "bottom"
  position "right"
  monitor "eDP-1" "eDP-2"
  layer "overlay"
  align "bottom-left"
  outlook "window" {
    color "#0C986C"
  }

  item "tray" {
    font-family "sans-serif"
    icon-size 40
    header-menu-stack "menu-top"
    header-menu-align "left"
    menu-draw-config {
      font-pixel-height 18
      text-color "#eee"
      border-color "#111"
    }
    header-draw-config {
      text-color "#eee"
    }
    grid-align "bottom-left"
  }
}



