[package]
name = "backend"
version = "0.1.0"
edition = "2021"

[dependencies]
util.workspace = true
config.workspace = true
gio.workspace = true
gtk.workspace = true
log.workspace = true
async-channel.workspace = true
tokio.workspace = true
cairo-rs.workspace = true
lazy_static.workspace = true


get_sys_info = "0.1"
hyprland = { version = "0.4.0-beta.1", default-features = false, features = [
  "data",
  "tokio",
  "listener",
  "unsafe-impl",
  "async-lite",
] }
system-tray = { git = "https://github.com/ogios/system-tray-zbus5.git", branch = "zbus5" }

libpulse-binding = "2.28"
libpulse-glib-binding = "2.28.1"

zbus = "5.0"
blight = "0.7"

notify = { version = "7.0.0", default-features = false }
notify-debouncer-full = "0.4.0"
